@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    padding: 0;
    font-family: "Raleway";
    background-color: #e9ebed;
}

.homeTitle{
    width: 50%;
    font-size:4em;
    margin: auto;
    text-align:center;
}

.title {
    width: 50%;
    font-size: 2.5em;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

.subTitle {
    width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
} 


.vMenu .subTitle {
    font-size: 2em;
}

.vMenu {
    width: 50%;
    margin: 2% auto;
    border-radius: 10px;
}

.vMenu .nav-btn {
    text-decoration: none;
    background-color: #6095ff;
    color: white;
    font-size: 2.5em;
    display: block;
    width: 60%;
    text-align: center;
    margin: 3% auto;
    margin-bottom: 50px;
    padding: 5% 15%;
    border-radius: 40px;
    border-top-left-radius: 0;
    transition: 300ms;
}

.nav-btn:hover {
   background-color: #527ed6; 
   transform: translateY(-8px);
}

.vMenu .nav-btn-second {
    text-decoration: none;
    background-color: #6095ff;
    color: white;
    font-size: 2em;
    display: block;
    width: 40%;
    text-align: center;
    margin: 3% auto;
    padding: 5% 15%;
    border-radius: 40px;
    border-top-left-radius: 0;
    transition: 300ms;
}

.nav-btn-second:hover {
   background-color: #527ed6; 
   transform: translateY(-8px);
}

/* Littles Page */

.lNames {
    text-decoration: none;
    display: block;
    width: 50%;
    font-size: 35px;
    margin: 3% auto;
    text-align: center;
    padding: 25px 10px;
    color: white;
    background-color: #6095ff;
    border-radius: 5px;
    transition: 300ms;
}

.lNames:hover {
    background-color: #527ed6; 
    transform: translateY(-8px);
 }
 
 #littleGroup, #bigGroup {
    width: 50%;
    margin: 3% auto;
 }
 
/* Littles Match Page */
 #littleGroup .lTitle {
     width: 80%;
     font-size: 35px;
     margin: auto;
     text-align: center;
     margin-top: 3%;
     padding: 25px 10px;
     color: white;
     background-color: #6095ff;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;;
 }

 /* Bigs Pages */
 #bNames {
    text-decoration: none;
    display: block;
    width: 50%;
    font-size: 35px;
    margin: 3% auto;
    text-align: center;
    padding: 25px 10px;
    color: white;
    background-color: #6095ff;
    border-radius: 5px;
 }

 #BigGroup .BTitle {
    width: 30%;
    font-size: 35px;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    padding: 25px 10px;
    color: white;
    background-color: #6095ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;;
}
