@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    padding: 0;
    font-family: "Raleway";
    background-color: #e9ebed;
}

.title {
    width: 50%;
    /* border: 1px solid red; */
    font-size: 45px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.vMenu {
    width: 50%;
    /* border: 1px solid black; */
    margin: 5% auto;
    border-radius: 10px;
}

.vMenu .nav-btn {
    text-decoration: none;
    background-color: #6095ff;
    color: white;
    font-size: 35px;
    display: block;
    width: 60%;
    text-align: center;
    margin: 3% auto;
    padding: 5% 15%;
    border-radius: 5px;
}

.nav-btn:hover {
   background-color: #527ed6; 
}


/* Littles Page */

.subTitle {
    width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
} 

.lNames {
    text-decoration: none;
    /* border: 1px solid red; */
    display: block;
    width: 45%;
    font-size: 25px;
    margin: 3% auto;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #6095ff;
    border-radius: 5px;
}

.lNames:hover {
    background-color: #527ed6; 
 }

 /* Littles Match Page */
 #littleGroup {
    width: 50%;
    margin: 3% auto;
 }

 #littleGroup .lTitle {
     width: 80%;
     font-size: 35px;
     margin: auto;
     text-align: center;
     margin-top: 3%;
     color: white;
     background-color: #6095ff;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;;
 }

 #littleGroup .lMatch {
     width: 80%;
     font-size: 30px;
     margin: auto;
     margin-top: 0;
     text-align: center;
     color: white;
     background-color: #6095ff;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }

 /* Bigs Pages */
 #bNames {
    text-decoration: none;
    /* border: 1px solid red; */
    display: block;
    width: 45%;
    font-size: 25px;
    margin: 3% auto;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #6095ff;
    border-radius: 5px;
 }